html,
body {
  scroll-behavior: smooth !important;
  position: relative;
  overflow-x: hidden;
}

body {
  width: 100%;
  /* height: 100vh; */
  font-family: "Overpass", sans-serif;
  overflow-y: auto;
}

.blueprint-body {
  background: url(../images/blueprints.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 30px;
  height: 106.25px;
}

.header-inner-page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  height: 106.25px;
}

.header-logo-container {
  color: white;
}

.header-logo {
  width: 200px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.navigation-link {
  color: #212121;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
}

.navigation-link > a {
  color: inherit;
  text-decoration: none;
}

.navigation-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  opacity: 1;
  transform: scale(0);
  background-color: black;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.navigation-link:hover::after,
.navigation-link:focus::after {
  /* opacity: 1; */
  transform: scale(1);
}

.slider-container {
  width: 100%;
  height: 90vh;
  background: transparent;
}

.image-slider-container {
  width: 100%;
  height: 90vh;
  visibility: hidden;
  opacity: 0;
  background: transparent;
}

.slider-one {
  background: url(../images/slider_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-two {
  background: url(../images/slider_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-three {
  background: url(../images/slider_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-four {
  background: url(../images/slider_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-header {
  font-size: 65px;
  color: white;
  visibility: hidden;
  text-shadow: 1px 1px #666666;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0000000a;
}

.normal-btn {
  background: #050505;
  padding: 16px 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  width: fit-content;
}

.slider-btn {
  background: #050505;
  padding: 16px 32px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  visibility: hidden;
}

.slider-btn-text {
}

.slider-btn-text::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 20px;
  margin-left: 12px;
  position: relative;
  top: -5px;
  background-color: #ffffff;
}

.slider-number-container {
  position: relative;
  top: -100px;
}

.slider-number {
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.active-slide-number::before {
  display: inline-block;
  content: "";
  height: 2px;
  width: 0px;
  margin-right: 12px;
  position: relative;
  background-color: #ffffff;
  animation: 1s width-animation forwards;
}

.home-detail-container {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0px 72px;
  position: relative;
  top: -60px;
  margin-bottom: 80px;
}

.home-detail-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px 1px rgba(62, 62, 62, 0.1);
  background: white;
  height: 354px;
  width: 395px;
  margin: 0 16px;
}

.home-detail-heading {
  font-size: 22px;
  font-weight: 600;
  color: #050505;
  margin-bottom: 1.66667rem;
}

.home-detail-details {
  color: rgb(122, 122, 122);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
}

.home-detail-read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.read-more-text {
  color: #212121;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
}

.home-detail-read-more:hover > .read-more-text {
  color: #3b8ac9;
}

.home-detail-read-more:hover > .read-more-icon {
  color: #3b8ac9;
}

.home-detail-read-more:hover > .read-more-icon::before {
  display: inline-block;
  content: "";
  height: 2px;
  width: 0px;
  position: relative;
  background-color: #3b8ac9;
  animation: 1s arrow-width-animation forwards;
  top: -5px;
  margin-right: -7px;
}

.prev-next-container {
  margin-top: 60px;
  border-top: 1px solid #e5e5e5;
  padding: 4.16667rem 200px;
}

.prev-next-link {
  font-weight: 500;
  color: #050505;
  font-size: 17px;
}

.prev-next-link:hover {
  color: #3b8ac9;
}

.prev-next-title-link {
  font-weight: 400;
  color: #898989;
  font-size: 16px;
}

.projects-menu {
  width: 30px;
  height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.featured-works-container {
  padding: 0px 300px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.featured-works-divider {
  width: 100px;
  height: 10px;
  background: url(../images/slash.png);
  margin-bottom: 20px;
  opacity: 0.5;
}

.featured-works-heading {
  font-size: 40px;
  font-weight: 300;
}

.featured-works-subheading {
  font-size: 17px;
  font-weight: 500;
}

.featured-works-link {
  color: black;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
}

.featured-works-link-active::after {
  content: "" !important;
  position: absolute !important;
  width: 100% !important;
  transform: scaleX(1) !important;
  height: 1px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: black !important;
}

.featured-works-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.featured-works-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.featured-works-link:hover::after,
.featured-works-link:focus::after {
  /* opacity: 1; */
  transform: scale(1);
}

.featured-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 14px;
}

.fw-img-container {
  position: relative;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

.featured-all-grid {
  margin-bottom: -320px;
}

.fw-h {
  margin-top: 70px;
}

.fw-img-container-one {
  height: 510px;
}

.fw-img-container-two {
  height: 270px;
}

.fw-img-container-three {
  height: 610px;
}

.fw-img-container-four {
  height: 616px;
  top: -84px;
}

.fw-img-container-five {
  height: 568px;
  top: -324px;
}

.fw-img-container-six {
  height: 514px;
  top: 14px;
}

.fw-img-container-seven {
  height: 380px;
  top: -360px;
}

.gcli-container {
  background: url(../images/project_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.s-container {
  background: url(../images/project_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.tc-container {
  background: url(../images/project_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.mh-container {
  background: url(../images/project_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ht-container {
  background: url(../images/project_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bh-container {
  background: url(../images/project_6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ts-container {
  background: url(../images/shade/shade_10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fw-img-container:hover > .featured-works-details {
  background: #fffffff0;
  animation: 0.5s visibility-animation forwards;
}

.fw-img-container:hover
  > .featured-works-details
  > .featured-works-projects-subheading {
  transition: 0.5s ease-in-out;
}

.fw-img-container:hover
  > .featured-works-details
  > .featured-works-projects-heading {
  transition: 0.5s ease-in-out;
}

.fw-img-container:hover
  > .featured-works-details
  > .featured-works-projects-heading:hover {
  color: #156495;
}

.hide-img-card {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.hide-grid {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.d-none-grid {
  display: none;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.featured-works-grid {
  display: none;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 600px;
  grid-auto-flow: row dense;
  grid-gap: 20px;
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
}

.featured-works-grid .all-projects-wide {
  grid-column-end: span 4;
  background: url(../images/project_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .all-projects-small-one {
  grid-column-end: span 2;
  background: url(../images/project_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .all-projects-small-two {
  grid-column-end: span 2;
  background: url(../images/project_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .all-projects-tall {
  grid-row-end: span 2;
  grid-column-end: span 2;
  background: url(../images/project_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .all-projects-normal-one {
  grid-column-end: span 3;
  background: url(../images/project_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .all-projects-normal-two {
  grid-column-end: span 3;
  background: url(../images/project_6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .residential-normal-one {
  grid-column-end: span 3;
  background: url(../images/project_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .residential-normal-two {
  grid-column-end: span 3;
  background: url(../images/project_6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .commercial-wide {
  grid-column-end: span 6;
  background: url(../images/project_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .special-wide {
  grid-column-end: span 6;
  background: url(../images/project_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .interior-normal-one {
  grid-column-end: span 3;
  background: url(../images/project_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-grid .interior-normal-two {
  grid-column-end: span 3;
  background: url(../images/project_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-works-projects-subheading {
  color: #898989;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.featured-works-projects-heading {
  color: #050505;
  font-size: 20px;
  font-weight: 600;
}

.featured-works-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.featured-works-img {
  cursor: pointer;
}

.featured-works-img:hover > .featured-works-details {
  background: #ecececc9;
  animation: 1s visibility-animation forwards;
}

.featured-works-img:hover
  > .featured-works-details
  > .featured-works-projects-subheading {
  transition: 1s ease-in-out;
}

.featured-works-img:hover
  > .featured-works-details
  > .featured-works-projects-heading {
  color: #156495;
  transition: 1s ease-in-out;
}

.active-featured-grid {
  display: grid;
  -webkit-animation: scale-in-center 1s ease-in-out both;
  animation: scale-in-center 1s ease-in-out both;
}

.footer-container {
  background: #050505;
  padding: 72px 300px;
  z-index: 1;
  position: relative;
  /* margin-top: 300px; */
}

.footer-social-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-details-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 80px;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  margin-bottom: 28px;
}

.footer-logo {
  width: 25%;
  margin-bottom: 32px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.footer-social-media-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 0px 12px;
}

.footer-social-media-icon:hover {
  color: #717171;
}

.footer-heading {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.footer-details {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.footer-link > a {
  text-decoration: none;
  color: inherit;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background: #838383;
  margin-bottom: 20px;
}

.copyright-row {
  display: flex;
  align-items: center;
  justify-content: start;
}

.contact-details-footer-container {
  margin-right: 140px;
}

.quick-links-container {
  margin-right: 32px;
}

.menu-open-btn {
  display: none;
}

.menu-close-btn {
  display: none;
}

.mobile-d-none {
  display: flex;
}

.scroll-to-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b2b2b;
  color: white;
  box-shadow: 0 2px 10px rgb(0 0 0 / 16%);
  height: 42px;
  position: fixed;
  right: 24px;
  bottom: 20px;
  width: 42px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  cursor: pointer;
  z-index: 99999;
  font-size: 24px;
}

.show-btn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.hide-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.about-us-img-container {
  margin-top: 90px;
}

.about-us-img {
  z-index: 1;
}

.practice-container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-column-gap: 0px;
  margin-bottom: 20px;
  position: relative;
  top: -400px;
}

.practice-image-container {
  padding: 460px 130px 30px 170px;
}

.practice-image-img {
  width: 135%;
}

.practice-detail-container {
  background: #fbfaf8;
  padding: 500px 300px 70px 70px;
}

.practice-detail-divider {
  width: 100px;
  height: 10px;
  background: url(../images/slash.png);
  margin-bottom: 20px;
  opacity: 0.5;
}

.practice-detail-heading {
  font-size: 40px;
  font-weight: 400;
}

.practice-detail-content {
  font-size: 18px;
  font-weight: 400;
  color: #646464;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: relative;
  top: -430px;
  padding: 0 300px;
}

.about-us-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0px;
  position: relative;
  top: -300px;
  padding: 0 300px;
  align-items: center;
}

.about-us-grid-img-container {
  padding: 70px;
}

.about-us-grid-img {
  width: 100%;
}

.about-us-grid-details-container {
  padding: 70px 0px 70px 0px;
  display: flex;
  flex-direction: column;
}

.step-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 200px;
  padding: 0px 300px;
  position: relative;
  top: -330px;
}

.step-container {
  display: flex;
  align-items: center;
}

.step-number {
  color: #eaeaea;
  font-size: 60px;
  margin-right: 20px;
  font-weight: 300;
}

.step-text {
  color: #f08923;
  font-size: 15px;
  font-weight: 500;
  margin-top: -6px;
}

.step-title {
  color: rgb(5, 5, 5);
  font-size: 20px;
  font-weight: 600;
}

.team-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 14px;
  padding: 0px 300px;
  margin-top: 150px;
  z-index: 1;
}

.team-subheading {
  color: #898989;
  font-size: 15px;
  font-weight: 500;
}

.team-heading {
  color: #050505;
  font-size: 20px;
  font-weight: 600;
}

.team-heading > a {
  text-decoration: none;
  color: inherit;
}

.team-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.team-image-one {
  background: url(../images/team/team_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.team-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.team-image-container:hover > .team-details {
  background: #fffffff0;
  opacity: 1;
  visibility: visible;
  animation: 0.5s visibility-animation forwards;
}

.team-image-container:hover > .team-details > .team-subheading {
  /* color: #242424; */
  transition: 0.5s ease-in-out;
}

.team-image-container:hover > .team-details > .team-subheading {
  /* color: #156495; */
  transition: 0.5s ease-in-out;
}

.team-image {
  width: 100%;
  margin-bottom: 20px;
}

.offer-container {
  padding: 0px 15%;
  margin-bottom: 20px;
}

.offer-divider {
  width: 100px;
  height: 10px;
  background: url(../images/slash.png);
  margin-bottom: 20px;
  opacity: 0.5;
}

.offer-heading {
  font-size: 40px;
  font-weight: 400;
}

.offer-content {
  font-size: 18px;
  font-weight: 400;
  color: #646464;
}

.offer-grid-rtl {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.offer-grid-ltr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.offer-grid-detail-container {
  display: flex;
  flex-direction: column;
}

.offer-image-container {
}

.offer-grid-divider {
  width: 100px;
  height: 10px;
  background: url(../images/slash.png);
  margin-bottom: 20px;
  opacity: 0.5;
}

.offer-title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.offer-details {
  font-size: 17px;
  font-weight: 500;
  color: #898989;
  margin-bottom: 20px;
}

.view-more-btn {
  font-size: 17px;
  color: #212121;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  border-radius: 0;
  padding: 16px 32px;
  width: 200px;
  text-align: center;
}

.offer-image {
  width: 100%;
}

.projects-container {
  padding: 0px 200px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.projects-links-row {
  margin-bottom: 24px;
}

.projects-divider {
  width: 100px;
  height: 12px;
  background: url(../images/slash.svg);
  background-size: contain;
  background-repeat: repeat;
  margin-bottom: 20px;
}

.projects-heading {
  font-size: 40px;
  font-weight: 300;
}

.projects-subheading {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.projects-link {
  color: black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
}

.projects-link-active::after {
  content: "" !important;
  position: absolute !important;
  width: 100% !important;
  transform: scaleX(1) !important;
  height: 1px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: black !important;
}

.projects-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.projects-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.projects-link:hover::after,
.projects-link:focus::after {
  /* opacity: 1; */
  transform: scale(1);
}

.project-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 40px;
  margin-top: 20px;
}

.project-img-container {
  position: relative;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 386px; */
}

.project-gcli-container {
  background: url(../images/project_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 386px;
  transition: background-position-x 1s ease;
}

.project-gcli-container:hover {
  background-position-x: calc(50% + 10px);
}

.project-s-container {
  background: url(../images/project_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 386px;
  transition: background-position-x 1s ease;
}

.project-s-container:hover {
  background-position-x: calc(50% + 10px);
}

.project-tc-container {
  background: url(../images/project_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 386px;
  transition: background-position-x 1s ease;
}

.project-tc-container:hover {
  background-position-x: calc(50% + 10px);
}

.project-mh-container {
  background: url(../images/project_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 386px;
  transition: background-position-x 1s ease;
}

.project-mh-container:hover {
  background-position-x: calc(50% + 10px);
}

.project-ht-container {
  background: url(../images/project_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 386px;
  transition: background-position-x 1s ease;
}

.project-ht-container:hover {
  background-position-x: calc(50% + 10px);
}

.project-bh-container {
  background: url(../images/project_6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 386px;
  transition: background-position-x 1s ease;
}

.project-bh-container:hover {
  background-position-x: calc(50% + 10px);
}

.project-ts-container {
  background: url(../images/shade/shade_10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 386px;
  transition: background-position-x 1s ease;
}

.project-ts-container:hover {
  background-position-x: calc(50% + 10px);
}

.d-none-projects-grid {
  display: none;
}

.scale-in-center-project {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.projects-grid {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 40px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
}

.active-projects-grid {
  display: grid;
  animation: 2s visibility-animation forwards;
}

.projects-card-subheading {
  color: #898989;
  font-size: 14px;
}

.projects-card-heading {
  color: #050505;
  font-size: 20px;
  font-weight: 600;
}

.projects-card-heading > a {
  text-decoration: none;
  color: inherit;
}

.projects-image {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.projects-image:hover {
  -webkit-animation: shake-horizontal 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-horizontal 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.project-detail-container {
  padding: 0px 200px;
  margin-bottom: 20px;
}

.project-detail-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 60px;
  margin-top: 72px;
  grid-template-rows: auto 1fr;
  height: 130vh;
  width: 100vw;
  overflow: hidden;
}

.project-detail-content-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.project-detail-title {
  color: #050505;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 12px;
}

.project-detail-content {
  font-size: 15px;
  font-weight: 500;
  color: #898989;
}

.project-detail-content-bold {
  font-size: 17px;
  font-weight: 600;
  color: #050505;
  margin-right: 5px;
}

.project-detail-content-italic {
  font-size: 17px;
  font-weight: 600;
  color: #050505;
  font-style: italic;
}

.project-detail-gallery-container {
  display: flex;
  flex-direction: column;
  padding-right: 25%;
  overflow-y: auto;
}

.project-detail-img {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.project-detail-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.project-detail-social-media-container {
  display: flex;
  align-items: center;
}

.project-detail-social-media-icon {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #050505;
  cursor: pointer;
}

.project-detail-social-media-icon:hover {
  color: #2079d4;
  transition: 1s ease-in-out;
}

.contact-us-container {
  padding: 0px 300px;
  margin-bottom: 20px;
  margin-top: 90px;
}

.contact-us-divider {
  width: 100px;
  height: 10px;
  background: url(../images/slash.png);
  margin-bottom: 20px;
  opacity: 0.5;
}

.contact-us-heading {
  font-size: 40px;
  font-weight: 300;
}

.contact-us-subheading {
  font-size: 18px;
  font-weight: 500;
}

.contact-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 40px;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
}

.contact-social-media-container {
  display: flex;
  align-items: center;
}

.contact-social-media-icon {
  font-size: 16px;
  cursor: pointer;
}

.contact-details-title {
  color: #050505;
  font-size: 16px;
  font-weight: 400;
}

.contact-details-content {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
}

.message-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 40px;
}

.map-container {
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.send-message-btn {
  font-size: 17px;
  background-color: #212121;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #212121;
  border-radius: 0;
  padding: 16px 32px;
  width: 200px;
  text-align: center;
}

.coming-soon-container {
  padding: 0px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.coming-soon-img {
  width: 40%;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 0px;
}

.team-detail-container {
  background: #fbfaf8;
  padding: 42px 42px;
}

.team-detail-divider {
  width: 100px;
  height: 12px;
  background: url(../images/slash.svg);
  background-size: contain;
  background-repeat: repeat;
  margin-bottom: 20px;
}

.team-detail-heading {
  font-size: 40px;
  font-weight: 400;
}

.team-detail-content {
  font-size: 18px;
  font-weight: 400;
  color: #646464;
}

.team-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.team-img-container {
  cursor: pointer;
  height: 400px;
}

.team-position-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.team-img-container:hover > .team-position-container {
  background: #ecececc9;
  animation: 1s visibility-animation forwards;
}

.team-img-container:hover
  > .team-position-container
  > .team-position-subheading {
  color: #242424;
  transition: 1s ease-in-out;
}

.team-img-container:hover > .team-position-container > .team-position-heading {
  color: #2079d4;
  transition: 1s ease-in-out;
}

.team-member-one {
  background: url(../images/team/team_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.team-member-two {
  background: url(../images/team/team_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.team-member-three {
  background: url(../images/team/team_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.team-member-four {
  background: url(../images/team/team_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.team-member-five {
  background: url(../images/team/team_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.team-member-six {
  background: url(../images/team/team_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.testimonial-container {
  padding: 0px 200px;
  margin-bottom: 20px;
  margin-top: 150px;
  z-index: 1;
  position: relative;
}

.team-main-container {
  padding: 0px 200px;
  margin-bottom: 20px;
  margin-top: -250px;
  z-index: 1;
  position: relative;
}

.hash-container {
  padding: 0px 300px;
  margin-top: 150px;
  z-index: 1;
  position: relative;
}

.hash-bg {
  background: url(../images/seamless_pattern.svg);
  height: 195px;
  /* opacity: 0.1; */
  background-color: #fafafa;
  background-repeat: repeat;
  background-position: top left;
}

.testimonial-divider {
  width: 100px;
  height: 10px;
  background: url(../images/slash.png);
  margin-bottom: 20px;
  opacity: 0.5;
}

.team-main-divider {
  width: 100px;
  height: 10px;
  background: url(../images/slash.png);
  margin-bottom: 20px;
  opacity: 0.5;
}

.team-main-heading {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.testimonial-heading {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.team-main-subheading {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.testimonial-subheading {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  margin-top: 60px;
}

.testimonial-card {
  padding: 60px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px 1px rgba(62, 62, 62, 0.1);
  background: white;
  height: 354px;
  width: 395px;
  margin: 0 16px;
}

.testimonial-name {
  color: #050505;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 12px;
}

.testimonial-testimony {
  font-size: 15px;
  font-weight: 500;
  color: rgb(122, 122, 122);
  text-align: left;
}

.client-img-container-one {
  margin-bottom: 10px;
  width: 100%;
  height: 290px;
  background: url(../images/blog-img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-position-x 1s ease;
}

.client-img-container-one:hover {
  background-position-x: calc(50% + 10px);
}

.client-img-container-two {
  margin-bottom: 10px;
  width: 100%;
  height: 290px;
  background: url(../images/blog-img-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-position-x 1s ease;
}

.client-img-container-two:hover {
  background-position-x: calc(50% + 10px);
}

.client-img {
  width: 100%;
}

.star-rating {
  width: 80px;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.image-slider-bg-one {
  /* background-image: url(../images/slider_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  background: transparent;
}

.image-slider-bg-two {
  background-image: url(../images/slider_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-slider-bg-three {
  background-image: url(../images/slider_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-slider-bg-four {
  background-image: url(../images/slider_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-content-ml {
  margin-left: 12%;
}

.page-title-container {
  padding: 6.66667rem 0;
  background-image: url(../images/seamless_pattern.svg);
  background-repeat: repeat;
  background-position: top left;
  display: flex;
  align-items: center;
  height: 195px;
}

.page-title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 275px;
  width: 100%;
}

.page-title {
  font-size: 30px;
  font-weight: 400;
}

.page-subtitle {
  color: rgb(122, 122, 122);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.back-home-btn {
  font-size: 17px;
  background-color: #212121;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #212121;
  border-radius: 0;
  padding: 16px 32px;
  width: 200px;
  text-align: center;
}

.coming-soon-heading {
  color: rgb(5, 5, 5);
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 50px;
}

.back-home-btn > a {
  text-decoration: none;
  color: inherit;
}

.testimonial-detail-container {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0px 72px;
  margin-bottom: 80px;
  margin-top: 40px;
  z-index: 1;
  position: relative;
}

.testimonial-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid rgba(62, 62, 62, 0.1); */
  background: white;
  /* height: 450px; */
  margin: 0 16px;
}

.bg-line-grid {
  display: grid;
  height: -webkit-fill-available;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  width: -webkit-fill-available;
  margin: 0 -10px;
}

.bg-line {
  border: 1px dashed #f8f8f8;
  width: 1px;
  height: -webkit-fill-available;
}

.mr-40 {
  margin-right: 40px;
}

.multiple-container {
  padding: 100px 300px;
  background-color: grey;
}

.testimonial-items > .slick-dots > li > button {
  transform: rotate(45deg) !important;
}

.testimonial-items > .slick-dots li button:before {
  font-size: 6px;
  width: 8px;
  height: 8px;
  content: "" !important;
  background: black;
  top: 16px;
  left: 16px;
}

/* Mobile CSS */
@media (min-width: 320px) and (max-width: 767px) {
  .featured-all-grid {
    margin-bottom: -20px;
  }

  .prev-next-container {
    padding: 4.16667rem 20px;
  }

  .prev-next-title-link {
    display: none;
  }

  .prev-next-link {
    text-align: center;
    margin-bottom: 0px !important;
  }

  .practice-image-container {
    padding: 10px;
  }

  .practice-image-img {
    width: 100%;
  }

  .featured-div {
    grid-template-columns: 1fr;
    grid-row-gap: 14px;
  }

  .fw-img-container-four {
    top: 0px;
  }

  .fw-img-container-five {
    top: 0px;
  }

  .fw-img-container-six {
    top: 0px;
  }

  .fw-img-container-seven {
    top: 0px;
  }

  .project-div {
    grid-template-columns: 1fr;
    grid-row-gap: 14px;
  }

  .project-s-container {
    width: 100%;
  }

  .project-mh-container {
    width: 100%;
  }

  .project-ht-container {
    width: 100%;
  }

  .project-gcli-container {
    width: 100%;
  }

  .project-tc-container {
    width: 100%;
  }

  .project-bh-container {
    width: 100%;
  }

  .project-ts-container {
    width: 100%;
  }

  .mobile-d-none {
    display: none;
  }

  .menu-open-btn {
    display: block;
  }

  .header-container {
    justify-content: space-between;
  }

  .header-inner-page-container {
    justify-content: space-between;
  }

  .navigation-menu {
    width: 75%;
    position: fixed;
    z-index: 2;
    top: 10%;
    right: 10%;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-bottom: 20px;
    -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .navigation-link {
    color: #212121;
    font-size: 18px;
    margin-left: 32px;
    margin-top: 20px;
  }

  .slider-header {
    font-size: 40px;
  }

  .home-detail-container {
    flex-direction: column;
    padding: 0 20px;
    top: 20px;
    align-items: center;
  }

  .home-detail-card {
    height: 375px;
    width: 320px;
    margin-bottom: 24px;
    margin-right: 0px !important;
  }

  .testimonial-detail-container {
    flex-direction: column;
    padding: 0 20px;
    top: 20px;
    align-items: center;
  }

  .testimonial-detail-card {
    height: 450px;
    width: 320px;
    margin-bottom: 24px;
    margin-right: 0px !important;
  }

  .featured-works-container {
    padding: 0px 32px;
    margin-top: 50px;
  }

  .featured-works-detail-row {
    flex-direction: column !important;
    align-items: start !important;
  }

  .flex-row-col-mobile {
    flex-direction: column !important;
  }

  .align-items-center-mobile {
    align-items: center !important;
  }

  .featured-works-subheading {
    margin-bottom: 20px;
  }

  .featured-links-row-mobile {
    flex-wrap: wrap;
    justify-content: flex-start !important;
    margin-bottom: 16px;
  }

  .featured-works-link {
    margin-bottom: 16px;
  }

  .featured-works-grid {
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr);
  }

  .featured-works-grid .all-projects-tall {
    grid-row-end: span 1;
    grid-column-end: span 4;
  }

  .featured-works-grid .all-projects-small-one {
    grid-column-end: span 4;
  }

  .featured-works-grid .all-projects-small-two {
    grid-column-end: span 4;
  }

  .featured-works-grid .all-projects-normal-one {
    grid-column-end: span 4;
  }

  .featured-works-grid .all-projects-normal-two {
    grid-column-end: span 4;
  }

  .featured-works-grid .residential-normal-one {
    grid-column-end: span 4;
    width: 85vw;
  }

  .featured-works-grid .residential-normal-two {
    grid-column-end: span 4;
    width: 85vw;
  }

  .featured-works-grid .interior-normal-one {
    grid-column-end: span 4;
    width: 85vw;
  }

  .featured-works-grid .interior-normal-two {
    grid-column-end: span 4;
    width: 85vw;
  }

  .featured-works-grid .commercial-wide {
    grid-column-end: span 18;
  }

  .featured-works-grid .special-wide {
    grid-column-end: span 18;
  }

  .footer-container {
    padding: 32px 42px;
  }

  .footer-grid {
    grid-template-columns: auto;
  }

  .flex-col-row-mobile {
    flex-direction: row !important;
  }

  .flex-row-wrap-mobile {
    flex-wrap: wrap;
  }

  .footer-link {
    margin-right: 20px;
  }

  .footer-mb-mobile {
    margin-bottom: 30px;
  }

  .practice-container {
    grid-template-columns: 1fr;
  }

  .offer-container {
    padding: 0px 40px;
  }

  .offer-grid-rtl {
    display: flex;
    flex-direction: column-reverse;
  }

  .offer-grid-ltr {
    display: flex;
    flex-direction: column;
  }

  .offer-image {
    width: 250px;
    margin-top: 40px;
  }

  .offer-title {
    font-size: 32px;
  }

  .view-more-btn {
    width: -webkit-fill-available;
  }

  .projects-container {
    padding: 0px 40px;
  }

  .projects-link {
    margin-bottom: 20px;
  }

  .projects-grid {
    margin-top: 0px;
    grid-template-columns: 1fr;
  }

  .contact-us-container {
    padding: 0px 40px;
  }

  .contact-details-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contact-details-title {
    font-size: 28px;
    margin-bottom: 4px;
  }

  .message-grid {
    grid-template-columns: 1fr;
  }

  .map-container > iframe {
    width: 340px;
  }

  .send-message-btn {
    width: -webkit-fill-available;
  }

  .coming-soon-container {
    padding: 0px 40px;
  }

  .coming-soon-img {
    width: 65%;
  }

  .project-detail-container {
    padding: 0px 40px;
  }

  .project-detail-grid {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    height: auto;
    width: auto;
    overflow: auto;
  }

  .project-detail-gallery-container {
    padding-right: 0px;
  }

  .team-container {
    grid-template-columns: 1fr;
  }

  .team-image-grid {
    grid-template-columns: 1fr;
  }

  .team-detail-divider {
    width: -webkit-fill-available;
  }

  .team-detail-container {
    text-align: center;
  }

  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-card {
    height: 500px;
    width: 350px;
  }

  .page-title-row {
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
  }

  .page-subtitle {
    margin-top: 12px;
  }

  .about-us-img-container {
    margin-top: 0px;
  }

  .about-us-img {
    width: 100%;
  }

  .practice-container {
    top: 0px;
  }

  .practice-detail-container {
    padding: 60px 32px;
  }

  .about-us-container {
    top: 0px;
    padding: 32px;
  }

  .about-us-grid {
    grid-template-columns: 1fr;
    top: 0px;
    padding: 0px 0px;
  }

  .about-us-grid-img-container {
    padding: 60px 32px;
  }

  .about-us-grid-details-container {
    padding: 60px 32px;
  }

  .step-grid {
    grid-template-columns: auto;
    grid-row-gap: 50px;
    padding: 32px;
    top: 0px;
    margin-top: 40px;
  }

  .team-grid {
    grid-template-columns: auto;
    grid-row-gap: 20px;
    padding: 32px;
    margin-top: 40px;
  }

  .footer-details-row {
    margin-bottom: 30px;
  }

  .footer-social-row {
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
  }

  .footer-social-row > div {
    align-self: end;
  }

  .footer-details-row {
    flex-direction: column;
    align-items: start;
  }

  .contact-details-footer-container {
    margin-right: 0px;
  }

  .quick-links-container {
    margin-top: 30px;
    margin-right: 0px;
  }

  .testimonial-container {
    padding: 0px 32px;
  }

  .team-main-container {
    padding: 0px 32px;
    margin-top: 50px;
  }

  .hash-container {
    padding: 0px 32px;
  }

  .team-main-subheading {
    text-align: center;
  }

  .testimonial-subheading {
    text-align: center;
  }

  .contact-us-heading {
    margin-top: 40px;
  }

  .coming-soon-heading {
    text-align: center;
  }

  .footer-logo {
    width: 100%;
  }
}

/* Laptop CSS */
@media (min-width: 768px) and (max-width: 1550px) {
  .practice-image-container {
    padding: 490px 140px 70px 20px;
  }

  .home-detail-container {
    padding: 0px 180px;
  }

  .testimonial-detail-container {
    padding: 0px 180px;
  }

  .featured-works-container {
    padding: 0px 200px;
  }

  .testimonial-container {
    padding: 0px 200px;
  }

  .team-main-container {
    padding: 0px 200px;
  }

  .about-us-grid {
    padding: 0px 200px;
  }

  .hash-container {
    padding: 0px 200px;
  }

  .footer-container {
    padding: 72px 200px;
  }

  .page-title-row {
    padding: 0 175px;
  }

  .projects-container {
    padding: 0px 200px;
    margin-bottom: 60px;
  }

  .contact-us-container {
    padding: 0px 200px;
  }

  .practice-detail-container {
    padding: 500px 200px 70px 70px;
  }

  .about-us-container {
    padding: 0 200px;
  }

  .about-us-grid-img-container {
    padding: 0px 0px 0px 100px;
  }

  .about-us-grid-details-container {
    padding: 70px 0px 70px 0px;
  }

  .step-grid {
    padding: 0px 200px;
    grid-column-gap: 100px;
  }

  .team-grid {
    padding: 0px 200px;
  }
}

/* Keyframes */
@keyframes width-animation {
  0% {
    width: 0px;
  }

  100% {
    width: 50px;
  }
}

@keyframes arrow-width-animation {
  0% {
    width: 0px;
  }

  100% {
    width: 30px;
  }
}

@keyframes visibility-animation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.mfp-close {
  opacity: 1 !important;
}

.mfp-arrow {
  opacity: 1 !important;
}

.mfp-arrow-left {
  background: url("../images/arrow-left.svg") no-Repeat top left !important;
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
  margin-left: 10px;
}

.mfp-arrow-left:hover {
  transform: scale(1.1);
}

.mfp-arrow-right {
  background: url("../images/arrow-right.svg") no-Repeat top right !important;
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
  margin-right: 10px;
}

.mfp-arrow-right:hover {
  transform: scale(1.1);
}

.mfp-arrow-left::before,
.mfp-arrow-right::before {
  display: none;
  content: "";
}

.mfp-arrow-left::after,
.mfp-arrow-right::after {
  display: none;
  content: "";
}

.slide-in-bottom-btn {
  visibility: visible;
  -webkit-animation: slide-in-bottom 1s ease-in-out both;
  animation: slide-in-bottom 1s ease-in-out both;
  animation-delay: 0.25s;
}

.slide-in-bottom {
  visibility: visible;
  -webkit-animation: slide-in-bottom 1s ease-in-out both;
  animation: slide-in-bottom 1s ease-in-out both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slick-slide {
  background-color: transparent !important; /* or specify your container background color */
}

/* Hide the outline during focus for better accessibility */
.slick-slide:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
